<div class="add-field-div">
    <!-- Input field for field label -->
    <div class="label-input">
        <label for="label">Field Label: </label>
        <input type="text" name="label" (change)="handleLabelChange(fieldLabel)" [(ngModel)]="fieldLabel">
    </div>

    <!-- Dropdown list for field type input -->
    <div class="type-input">
        <label for="dropdown">Field Type: </label>
        <select name="dropdown" (change)="handleSelectChange(selectedField)" [(ngModel)]="selectedField">
            <option [value]="field" *ngFor="let field of fieldSelections">
                {{ field }}
            </option>
        </select>
    </div>

    <!-- Add field button -->
    <button class="btn" (click)="handleAddField()">
        Add Field
    </button>
    <!-- Clear fields button -->
    <button class="btn" (click)="handleClearFields()">
        Clear Field
    </button>

    <!-- All the added fields -->
    <div class="form-field" *ngFor="let field of formFields, let i = index">
        <label for={{field.fieldLabel}}>{{ field.fieldLabel }}: </label>
        <input type={{field.fieldType}}>
        <!-- Delete field button -->
        <button class="delete-field-btn" (click)="handleDeleteField(i)">
            X
        </button>
    </div>
</div>